/*  css for the navgation  */
.navbar{
    background-color: #f6f0da;
}
/* css for the gifts section */
.img{
    border: 2px solid rgba(220, 20, 60, 0.373);
}
.img:hover {
    padding: 5px;
    border: 2px solid crimson;
    cursor: pointer;
}
.img.active{
    border: 2px solid crimson; 
}
/* css for the product section */
@media (min-width:800px) {
    .products{
        height: 440px;
        
    }
   
    .Long-products{
        height: 810px;
    }
}

.Phover{
    text-decoration: none;
}
.Phover :hover{
    margin: 2px 0px 2px 0px; 
   
}
.Phover p:hover{
    text-decoration: underline;
   
}
/* css for the footer  */
footer{
    position:static;
    bottom: 0;
    background-color: #f6f0da;
    }