.navbar{
    background-color: #f6f0da;
}
/* css for hero section */
.hero{
    height: 1000px;
    background:linear-gradient(rgba(0, 0, 0,0),rgba(0, 0, 0, 0)) ,url(assests/hero2.jpg) no-repeat center /cover;
    color: white;
    
}
.hero-contant{
display: flex;
flex-direction: row;
align-items:center;
justify-content:space-around;
}
.heroLink{
    color: #ffffff;
}
.heroLink:hover{
    color: #eb2121;
}
@media (max-width:820px) {
    .hero{
        height: 93.3vb;
    }
    .tagLine{
        font-size:25px;
    }
    .hero h4{
        font-size: 18px;
    }
    .hero-contant{
        
        flex-direction: column;
        padding-top:40px;
        
        }
    .heroLink{
        padding-top:20px ;
    }
    
}
@media (max-width:1000px ) and  (min-width:820px)  {
  .img{
    width: 500px;
    height: 300px;
  }  
}
/* css for the product section */
@media (min-width:1440px) {
    .products{
        height: 610px;
    }
}

.Phover :hover{
    margin: 2px 0px 2px 0px; 
   
}
.Thover :hover{
    text-decoration: underline;
}